<div class="content" style="width: 100%">
  <div class="container">
    <div class="card" >


      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="margin-top: 4%">
        <h3 class="h3 mb-3 fw-normal">Login</h3>
        <img  src="https://cdn6.aptoide.com/imgs/7/8/2/782b7f7b7c6c106cf6ae151fe0bce971_icon.png" alt="" width="72" height="72" style="margin-bottom: 5%">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email"  formControlName="email"  id="email" name="email" class="form-control" placeholder="demo@check.cl" [(ngModel)]="correo_fijo"/>
          <label class="form-label" for="email">Email</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password"  formControlName="password" class="form-control"  placeholder="abcd" [(ngModel)]="pass_fijo"  />
          <label class="form-label" for="password">Contraseña</label>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Ingresar
        </button>
      </form>
    </div>
    <br>
    <div>

    </div>
  </div>


</div>
