.container {
  margin-top: 50px;
}
.content{
  background-color: #8038be;
}

form {

  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

form h2 {
  margin-bottom: 20px;
}

form button {
  margin-top: 20px;
}
