<div class="content" role="main">



    <span>{{ title }} Test!!</span>

    <div class="container">

      <div class="card" >

          <h4 class="card-title">Login</h4>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="emailUsuario" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted  }"/>
              <label class="form-label" for="emailUsuario">Email</label>
            <!--  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email es requerido</div>
              </div>-->
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted  }" />
              <label class="form-label" for="form2Example2">Contraseña</label>
             <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
              </div>-->
            </div>



            <!-- Submit button -->
            <!--<button type="button" class="btn btn-primary btn-block mb-4">Ingresar</button> -->
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Ingresar
          </button>

          </form>



      </div>
    </div>


  </div>



