
<div class="content" role="main">
    <div class="container">
      <div class="card" >


          <form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="margin-top: 4%">
            <h3 class="h3 mb-3 fw-normal">Login</h3>
            <img  src="https://chek.cl/assets/img/logo-k-alt-blanco.svg" alt="" width="72" height="57">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email"  formControlName="email"  id="email" name="email" class="form-control" />
              <label class="form-label" for="email">Email</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password"  formControlName="password" class="form-control"  />
              <label class="form-label" for="password">Contraseña</label>
            </div>
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
              Ingresar
            </button>
          </form>
      </div>
      <br>
      <div>

      </div>
    </div>


  </div>



